/* 
    Estilos hechos por: Elías Ramón Estrabao Quijada
    Contacto: eestrabao46@gmail.com
    Fecha de inicio: Martes 13 de Agosto 2019.
*/

/*
    Primer paleta: 464159, 6c7b95, 8bbabb, c7f0db
    Segunda paleta: https://colorhunt.co/palette/155006
    Tercer paleta: https://colorhunt.co/palette/154210
    Cuarta paleta: https://colorhunt.co/palette/144399
    Quinta paleta: https://colorhunt.co/palette/156756
    Sexta paleta: https://colorhunt.co/palette/42568
    Septima paleta: https://www.color-hex.com/color-palette/81563
    Octava paleta: https://www.color-hex.com/color-palette/80564
    Novena paleta: https://www.color-hex.com/color-palette/80772
    Decima paleta: https://www.color-hex.com/color-palette/80706
*/

.navbar{
    background-color: 	 	#1572A1;	
}

body{     
    background-color: 	rgb(255, 254, 254);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

hr {
    background-color:  	#005a41
}

a {
    color: 		#bd610a;
}

.tabla thead{
    color: rgb(255, 255, 255);
    background-color: #36a998;
}

.tabla td {
    border: none;
}

.tabla th {
    border: none;
}

.tabla thead {
    border: none;
}

.boton-de-envio{
    background-color: #1572A1;
    color: #e8e8e8;
}

/* Formulario de registro de representante nuevo */
input{
    margin-bottom: 20px;
    width: 100%;
    padding: 20px;
}

.selectMunicipio{
    width: 100%;
}

/* Estilos para perfil de estudiante */
.perfil-card{
    background-color: white;
}

.img-perfil{
    display:block;
    margin:auto;
}

.pnom-estudiante{
    color: black;    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.pape-estudiante{
    color: black;    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
    text-align: center;
}

.centrado{
    text-align: center;
}

.margen-perfil{
    margin-top: 140px;
    margin-left: 100px;
}